.img {
  object-fit: contain;
  height: 300px;
}

.products {
  width: 30%;
}

.products-details {
  display: flex;
}

.cart-item{
  display: flex;
}

@media (max-width: 576px) {
  .products {
    width: 100%;
  }
  .products-details {
    flex-direction: column;
    text-align: center;
  }
  .cart-checkout {
    flex-direction: column;
  }
  .cart-display {
    width: 150px;
  }
  .cart-item {
    display: inline-block;
  }
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
