.img {
  object-fit: contain;
  height: 300px;
}

.products {
  width: 30%;
}

.products-details {
  display: flex;
}

.cart-item {
  display: flex;
}

.main-image {
  min-height: 70vh;
  background-image: linear-gradient(rgba(160, 158, 158, 0.965), rgba(182, 8, 8, 0.705)), url(./images/shopping-cart-background.jpeg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: 7vh;
}

.footer {
  height: 7vh;
}

.checkout-container{
  height: 82vh;
}

@media (max-width: 576px) {
  .products {
    width: 100%;
  }
  .products-details {
    flex-direction: column;
    text-align: center;
  }
  .cart-checkout {
    flex-direction: column;
  }
  .cart-display {
    width: 150px;
  }
  .cart-item {
    display: inline-block;
  }
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
